[submodule "TCPL"]
	path = TCPL
	url = https://github.com/Cruzer-S/TCPL
[submodule "K.N.K"]
	path = K.N.K
	url = https://github.com/Cruzer-S/K.N.K
[submodule "APUE"]
	path = APUE
	url = https://github.com/Cruzer-S/APUE
[submodule "Django"]
	path = Django
	url = https://github.com/Cruzer-S/Django.git
[submodule "JTPY"]
	path = JTPY
	url = https://github.com/Cruzer-S/JTPY.git
[submodule "NodeJS"]
	path = NodeJS
	url = https://github.com/Cruzer-S/NodeJS.git
[submodule "ALNP"]
	path = ALNP
	url = https://github.com/Cruzer-S/ALNP
[submodule "Linux-Internal"]
	path = Linux-Internal
	url = https://github.com/Cruzer-S/Linux-Internal.git
[submodule "CruzerOS"]
	path = CruzerOS
	url = https://github.com/Cruzer-S/CruzerOS.git
[submodule "CPrimer"]
	path = CPrimer
	url = https://github.com/Cruzer-S/CPrimer.git
